{% extends 'base.html.twig' %}

{% block body %}
    <div class="shadow-realm">
        <div class="ancient-text">
            {{ lore }}
        </div>
        <div class="hidden-clue" style="color: rgba(0,0,0,0.1)">
            <!-- Hide clues in HTML comments or barely visible text -->
            {# The next key lies in the void_walker #}
        </div>
    </div>
{% endblock %}
